<app-navigation></app-navigation>
<div class="example-container">
  <div class="example-loading-shade" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div class="form">
    <div style="text-align:center">
      <h1>
        Add new user
      </h1>
    </div>
    <app-form-builder [fields]="regConfig" (submit)="submit($event)">
    </app-form-builder>
  </div>
</div>

