<mat-toolbar>
  <mat-toolbar-row class="navigation-class">
    <button mat-button style="color:red; background: rgb(235, 235, 233);" (click)="logOut()">LogOut</button>
    <button *ngFor="let item of navigations" routerLink="{{item.url}}" routerLinkActive="active" mat-button>{{item.name}}</button>
  </mat-toolbar-row>

</mat-toolbar>
