<div class="example-container">
  <div class="example-loading-shade" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div class="form">
    <div style="text-align:center">
      <h1>
        Sign in
      </h1>
    </div>
    <app-form-builder [fields]="regConfig" (submit)="submit($event)">
    </app-form-builder>
    <div class="dont-have-account">
      <p>Don't have an account?</p>
      <a routerLink="/signup" routerLinkActive="active">Sign up</a>
    </div>
  </div>
</div>
