.dont-have-account{
    margin-top: 20px;
}

.example-container {
  position: relative;
  min-height: 200px;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
