<app-navigation></app-navigation>
<a routerLink="/back-office/students/add" routerLinkActive="active" style="margin: 20px;display: block">Create new student</a>

<app-data-table [columns]="tableColumnConfig"
                [canEdit]="canEdit"
                [onRowChoose]="onRowChoose.bind(this)"
                [dataRetriever]="studentsManagementService.getStudents.bind(studentsManagementService)">
</app-data-table>
