<app-navigation></app-navigation>
<div class="example-container">
  <div class="example-loading-shade" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div class="form" *ngIf="regConfig.length > 0" style="margin-top: 30px;">
    <div style="text-align:center;">
      <h1>
        {{user.userName}}
      </h1>
    </div>
    <app-form-builder [fields]="regConfig" (submit)="submit($event)"></app-form-builder>
    <button type="submit"
            *ngIf="canDeleteUser"
            (click)="deleteUser()"
            style="margin-top: 30px;"
            mat-raised-button
            color="primary"
    >
      Delete
    </button>
  </div>
</div>

