<div class="demo-full-width margin-top  dynamic-form-element" [formGroup]="group">
    <label class="radio-label-padding">{{field.label}}:</label>
    <mat-radio-group [formControlName]="field.name">
    <mat-radio-button *ngFor="let item of field.options" [value]="item">{{item}}</mat-radio-button>
    </mat-radio-group>
</div>