<app-navigation></app-navigation>
<a routerLink="/back-office/users/add" routerLinkActive="active" style="margin: 20px;display: block">Create new user</a>


<app-data-table [columns]="tableColumnConfig"
                [canEdit]="canEdit"
                [onRowChoose]="onRowChoose.bind(this)"
                [dataRetriever]="usersManagementService.getUsers.bind(usersManagementService)">
</app-data-table>
