<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>

  <div class="example-table-container">
    <table mat-table [dataSource]="tableData.data" class="example-table" matSort matSortActive="{{defaultActiveSortColumn}}" matSortDisableClear matSortDirection="desc">
      <ng-container [matColumnDef]="column.name" *ngFor="let column of columns">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> {{column.value}} </th>
        <td mat-cell *matCellDef="let element"> {{element[column.name]}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
      <tr mat-row *matRowDef="let row; columns: columnNames;" [ngStyle]="canEdit && {'cursor': 'pointer'}" (click)="onRowChoose(row)"></tr>
    </table>
  </div>

  <div *ngIf="tableData.data.length === 0" class="no-records" style="text-align: center">
    No records found
  </div>

  <mat-paginator [length]="tableData.totalRecords" [pageSizeOptions]="[10, 15, 20]"></mat-paginator>
</div>
